*.js linguist-language=JavaScript
dist/* linguist-vendored
build/* linguist-vendored
node_modules/* linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.ipynb linguist-vendored
*.hbs linguist-vendored
views/* linguist-vendored
routes/* linguist-vendored
jasmine/* linguist-vendored
tests/* linguist-vendored
